.lead__caption {
  font-size: 10px;
  line-height: 1.4;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-top: 8px;
  align-self: flex-start;
}

@media screen and (min-width: 768px) and (max-width:1023px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (min-width: 544px) and (max-width:767px) {
  .lead__caption {
    padding-left: 20px;
  }
}

@media screen and (max-width:543px) {
  .lead__caption {
    padding-left: 16px;
  }
}

